# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Step 2. Create a data dictionary that looks like the DataFrame below

In [3]:
dict_pokemon = {'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
                'hp': [45, 39, 44, 45],
                'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
                'pokedex': ['yes', 'no', 'yes', 'no'],
                'type': ['grass', 'fire', 'water', 'bug']
                }

### Step 3. Assign it to a variable called pokemon

In [35]:
pokemon = pd.DataFrame(dict_pokemon)
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [36]:
pokemon.sort_index(axis=1, inplace = True, ascending=False)
pokemon

    type pokedex        name  hp   evolution
0  grass     yes   Bulbasaur  45     Ivysaur
1   fire      no  Charmander  39  Charmeleon
2  water     yes    Squirtle  44   Wartortle
3    bug      no    Caterpie  45     Metapod

### Step 5. Add another column called place, and insert what you have in mind.

In [37]:
pokemon['place'] = ['USA', 'UK', 'Vietnam', 'Japan']
pokemon

    type pokedex        name  hp   evolution    place
0  grass     yes   Bulbasaur  45     Ivysaur      USA
1   fire      no  Charmander  39  Charmeleon       UK
2  water     yes    Squirtle  44   Wartortle  Vietnam
3    bug      no    Caterpie  45     Metapod    Japan

### Step 6. Present the type of each column

In [38]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   type       4 non-null      object
 1   pokedex    4 non-null      object
 2   name       4 non-null      object
 3   hp         4 non-null      int64
 4   evolution  4 non-null      object
 5   place      4 non-null      object
dtypes: int64(1), object(5)
memory usage: 320.0+ bytes

### BONUS: Create your own question and answer it.
    Sort your dataframe by name column and reindexing it to what you mind

In [44]:
pokemon.sort_values(by=['name'], inplace=True)
pokemon = pokemon.rename(index={0: 'first', 1: 'second', 2: 'third', 3: 'fourth'})
pokemon

         type pokedex        name  hp   evolution    place
first   grass     yes   Bulbasaur  45     Ivysaur      USA
fourth    bug      no    Caterpie  45     Metapod    Japan
second   fire      no  Charmander  39  Charmeleon       UK
third   water     yes    Squirtle  44   Wartortle  Vietnam