# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [125]:
chipo = pd.read_csv('https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv', sep='\t', header=0)

### Step 4. See the first 10 entries

In [126]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [127]:
# Solution 1
len(chipo)

4622

In [128]:
# Solution 2
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [129]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [130]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [131]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [132]:
grouped = chipo.groupby('item_name')
count = grouped.count().sort_values(['order_id'], ascending=False)['order_id']
print("most-ordered")
print(count.index[0], count[0])

most-ordered
Chicken Bowl 726

### Step 10. For the most-ordered item, how many items were ordered?

In [133]:
sum = grouped.sum()
print('total quantity of most-ordered')
sum[sum.index == count.index[0]]['quantity']

total quantity of most-ordered

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [134]:
ch_de_count = grouped.count().sort_values(['choice_description'], ascending=False)['choice_description']
print("the most ordered item in the choice_description column")
ch_de_count.index[0]

the most ordered item in the choice_description column

'Chicken Bowl'

### Step 12. How many items were orderd in total?

In [135]:
print("items were orderd in total")
ch_de_count[0]

items were orderd in total

726

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [136]:
print(chipo['item_price'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 4622 entries, 0 to 4621
Series name: item_price
Non-Null Count  Dtype
--------------  -----
4622 non-null   object
dtypes: object(1)
memory usage: 36.2+ KB
None

#### Step 13.b. Create a lambda function and change the type of item price

In [140]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.strip('$')))
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

#### Step 13.c. Check the item price type

In [141]:
print(chipo['item_price'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 4622 entries, 0 to 4621
Series name: item_price
Non-Null Count  Dtype
--------------  -----
4622 non-null   float64
dtypes: float64(1)
memory usage: 36.2 KB
None

### Step 14. How much was the revenue for the period in the dataset?

In [142]:
chipo['item_price'].sum()

34500.16

### Step 15. How many orders were made in the period?

In [143]:
chipo['order_id'].count()

4622

### Step 16. What is the average revenue amount per order?

In [144]:
# Solution 1
print("the average revenue amount per order")
chipo['item_price'].sum()/chipo['order_id'].count()

the average revenue amount per order

7.464335785374297

In [145]:
# Solution 2
print("the average revenue amount per order")
chipo['item_price'].mean()

the average revenue amount per order

7.464335785374397

### Step 17. How many different items are sold?

In [151]:
print('different items are sold')
len(chipo.groupby("item_name").count())

different items are sold

50